<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ballboycorp.tingting">

    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        android:hardwareAccelerated="true"
        tools:targetApi="honeycomb">
        <activity android:name=".splash.SplashActivity"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity">
        </activity>
        <activity android:name=".qr.QRScanActivity">
        </activity>
        <activity android:name=".recent.RecentActivity">
        </activity>
        <activity android:name=".liked.LikedActivity"/>
        <activity android:name=".pocha.details.PochaDetailsActivity"/>
        <activity android:name=".pocha.PochaActivity"/>
        <activity android:name=".review.ReviewActivity"/>
        <activity android:name=".profile.create.CreateProfileActivity"/>
    </application>

</manifest>